Repository nirum-lang/nirum, pull requests merged in 2018-02, with the labels that each got.

#221 Step-by-step tutorial
  README.md
  docs/tutorial.md
Labels: cat:docs, help wanted, typ:enhance

#222 #167: Add Client class under Service class
  src/Nirum/Targets/Python.hs
  test/python/service_test.py
Labels: cmp:compiler, typ:enhance

#229 Fix broken tox py27 env on AppVeyor
  appveyor.yml
Labels: cat:dist, typ:bug

#224 Collapse error messages
  src/Nirum/Targets/Python.hs
  test/python/primitive_test.py
Labels: cmp:compiler, target:python, typ:bug

#230 Fix annotation document's `boxed` to `unboxed`
  docs/annotation.md
Labels: cat:docs, dfct:easy, typ:bug

#231 Add blockchain example
  examples/blockchain.nrm
  test/Nirum/PackageSpec.hs
  test/Nirum/TargetsSpec.hs
Labels: cat:docs, typ:enhance

#233 Changelog
  .travis.yml
  CHANGES.md
  package.yaml
Labels: cat:docs, cat:packaging, dfct:hard, typ:bug

#236 Fix Haskell style scanner
  lint.sh
  src/Nirum/Parser.hs
  src/Nirum/Targets/Docs.hs
  src/Nirum/Targets/Python.hs
  test/Nirum/Constructs/TypeDeclarationSpec.hs
Labels: cat:dist, typ:bug

#156 Fix code cov
  .dockerignore
  .gitignore
  .travis.yml
  codecov.yml
  stack.yaml
Labels: cat:dist

#238 Make record/union deserializers ignore unknown fields
  CHANGES.md
  docs/refactoring.md
  docs/serialization.md
  src/Nirum/Targets/Python.hs
  test/python/primitive_test.py
Labels: cmp:compiler, target:python, typ:bug

#227 Optional default tag for union type
  CHANGES.md
  docs/refactoring.md
  examples/shapes.nrm
  src/Nirum/Constructs/DeclarationSet.hs
  src/Nirum/Constructs/Identifier.hs
  src/Nirum/Constructs/TypeDeclaration.hs
  src/Nirum/Parser.hs
  src/Nirum/Targets/Docs.hs
  src/Nirum/Targets/Python.hs
  test/Nirum/Constructs/DeclarationSetSpec.hs
  test/Nirum/Constructs/TypeDeclarationSpec.hs
  test/Nirum/ParserSpec.hs
  test/nirum_fixture/fixture/foo.nrm
  test/python/primitive_test.py
Labels: cat:lang, cmp:compiler, target:python, typ:enhance
