Repository nirum-lang/nirum, pull requests merged in 2018-05, with the labels that each got.

#269 Add classifiers field to package metadata
  CHANGES.md
  docs/package.md
  examples/package.toml
  src/Nirum/Package/Metadata.hs
  src/Nirum/Targets/Python.hs
  src/Nirum/Targets/Python/CodeGen.hs
  test/Nirum/Package/MetadataSpec.hs
  test/Nirum/PackageSpec.hs
  test/Nirum/Targets/Python/CodeGenSpec.hs
  test/Nirum/TypeInstance/BoundModuleSpec.hs
  test/nirum_fixture/package.toml
  test/python/setup_test.py
Labels: cat:packaging, dfct:easy, target:python, typ:enhance

#272 Runtime free deserializers
  .travis.yml
  CHANGES.md
  src/Nirum/Targets/Python.hs
  src/Nirum/Targets/Python/CodeGen.hs
  src/Nirum/Targets/Python/Deserializers.hs
  src/Nirum/Targets/Python/Serializers.hs
  src/Nirum/Targets/Python/Validators.hs
  test/Nirum/Targets/Python/CodeGenSpec.hs
  test/Nirum/Targets/PythonSpec.hs
  test/nirum_fixture/fixture/types.nrm
  test/python/docs_test.py
  test/python/primitive_test.py
  test/python/renames_test.py
  test/python/serialization_test.py
  test/python/service_test.py
  test/serialization/primitive-types/date-invalid-formats.json
  test/serialization/primitive-types/datetime-invalid-formats.json
  test/serialization/primitive-types/datetime.json
  test/serialization/primitive-types/uuid-hex.json
  test/serialization/records/missing-fields.json
  test/serialization/records/non-object.json
  test/serialization/unboxed-types/enum.json
  test/serialization/unboxed-types/number.json
  test/serialization/unboxed-types/record.json
  test/serialization/unboxed-types/string.json
  test/serialization/unboxed-types/unboxed.json
  test/serialization/unboxed-types/union.json
  test/serialization/unions/missing-fields.json
  test/serialization/unions/missing-tag.json
  test/serialization/unions/non-object.json
Labels: cmp:compiler, target:python, typ:bug, typ:enhance, typ:refactor

#274 Add test suite based on examples of docs/serialization.md
  test/nirum_fixture/fixture/foo.nrm
  test/nirum_fixture/fixture/name.nrm
  test/nirum_fixture/fixture/norm.nrm
  test/nirum_fixture/fixture/types.nrm
  test/python/serialization_test.py
  test/python/setup_test.py
  test/serialization/enums/enums-female.json
  test/serialization/enums/enums-male.json
  test/serialization/identifiers/normalize.json.ignore
  test/serialization/map-types/record.json
  test/serialization/names/behind_name.json
  test/serialization/primitive-types/date.json
  test/serialization/records/emit-type.json
  test/serialization/records/extra-fields.json
  test/serialization/records/option-fields.json
  test/serialization/records/option-fields2.json
  test/serialization/sets/record.json
  test/serialization/unboxed-types/list.json
  test/serialization/unboxed-types/set.json
  test/serialization/unions/optional-field.json
  tox.ini
Labels: cmp:runtime, dfct:easy, target:python, typ:enhance

#275 Use Markup for Python CompileResult
  CHANGES.md
  src/Nirum/Targets/Python.hs
  test/Nirum/Targets/PythonSpec.hs
  test/python/docs_test.py
  test/python/primitive_test.py
Labels: cmp:compiler, target:python, typ:refactor

#277 Rename uri to url (uri remains deprecated)
  CHANGES.md
  docs/serialization.md
  examples/builtins.nrm
  examples/pdf-service.nrm
  src/Nirum/Constructs/Module.hs
  src/Nirum/Constructs/TypeDeclaration.hs
  src/Nirum/Targets/Python/Deserializers.hs
  src/Nirum/Targets/Python/Serializers.hs
  src/Nirum/Targets/Python/TypeExpression.hs
  src/Nirum/Targets/Python/Validators.hs
  test/Nirum/Targets/Python/TypeExpressionSpec.hs
  test/nirum_fixture/fixture/foo.nrm
  test/nirum_fixture/fixture/types.nrm
  test/python/primitive_test.py
Labels: cat:lang, cmp:compiler, cmp:runtime, dfct:easy, typ:refactor

#278 Serializers and deserializers for service methods
  CHANGES.md
  src/Nirum/Targets/Python.hs
  src/Nirum/Targets/Python/CodeGen.hs
  src/Nirum/Targets/Python/Validators.hs
  test/nirum_fixture/fixture/foo.nrm
  test/python/service_test.py
Labels: cmp:compiler, cmp:runtime, target:python, typ:enhance, typ:refactor

#280 Make optional parameters omittable
  src/Nirum/Targets/Python.hs
  test/nirum_fixture/fixture/foo.nrm
  test/python/service_test.py
Labels: cmp:runtime, cmp:transport, target:python, typ:bug

#281 Completely deprecate uri
  CHANGES.md
  src/Nirum/Constructs/Module.hs
  test/nirum_fixture/fixture/foo.nrm
  test/python/primitive_test.py
  test/python/validation_test.py
Labels: cat:lang, cmp:compiler, cmp:runtime, dfct:easy, typ:refactor
