Repository nirum-lang/nirum, pull requests merged in 2018-08, with the labels that each got.

#292 Docs: manual pages
  CHANGES.md
  docs/target/docs.md
  examples/README.md
  src/Nirum/Docs.hs
  src/Nirum/Docs/Html.hs
  src/Nirum/Docs/ReStructuredText.hs
  src/Nirum/Package.hs
  src/Nirum/Package/Metadata.hs
  src/Nirum/Targets/Docs.hs
  src/Nirum/Targets/Python.hs
  test/Nirum/CodeBuilderSpec.hs
  test/Nirum/Constructs/DocsSpec.hs
  test/Nirum/Docs/HtmlSpec.hs
  test/Nirum/Docs/ReStructuredTextSpec.hs
  test/Nirum/DocsSpec.hs
  test/Nirum/PackageSpec.hs
  test/Nirum/Targets/Python/CodeGenSpec.hs
Labels: cat:docs, cmp:tool, target:docs, typ:enhance

#294 Build the nirum.org website using docs target
  .travis.yml
  CHANGES.md
  app/nirum-docs.hs
  docs/target/docs.md
  examples/package.toml
  src/Nirum/Cli.hs
  src/Nirum/Package/Metadata.hs
  src/Nirum/Targets.hs
  src/Nirum/Targets/Docs.hs
  test/Nirum/TargetsSpec.hs
Labels: cat:docs, cmp:tool, target:docs, typ:enhance

#302 Escape code blocks
  src/Nirum/Docs/Html.hs
Labels: cat:docs, cmp:compiler, dfct:easy, target:docs

#311 Add syntax highlighting for doc target
  CHANGES.md
  src/Nirum/Targets/Docs.hs
Labels: target:docs, typ:enhance

#314 Fix two separators being sticked together on docs
  .gitignore
  src/Nirum/Targets/Docs.hs
Labels: target:docs, typ:bug

#312 Make version on docs visually distinct from package name
  src/Nirum/Targets/Docs.hs
Labels: target:docs, typ:enhance

#270 Add .editorconfig
  .editorconfig
Labels: dfct:easy, typ:enhance

#322 Open package.toml file with UTF8 locale
  CHANGES.md
  src/Nirum/Package/Metadata.hs
Labels: typ:bug

#326 Trim -Werror option before uploading to Hackage
  .travis.yml
  package.yaml
Labels: cat:dist, typ:bug
